$bg: #F5F7FA;
$red: #ff0000;
$red1: #ff0000;

$white1: #FFFFFF;
$white2: #FFFFFF;
$white3: #e3a7a7;   
$white4: #F3F3F3;

$black1: #00000080;
$black2: #181818;
$black3: #000000;
$black4: #00000040;
$black5: #00000030;

$gray1: #515151;
$gray2: #767575;
$gray3: #cfcdcd;

$pink1: #C2858C;



